@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    list-style: none;
    text-decoration: none;
}

header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color:aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color:chocolate;
}

#logo {
    width: 150px;
    height: auto;
}

#banner {
    background-image: url('https://blogs.loucoll.ac.uk/learningtechnology/files/2022/11/Microsoft-Banner-smaller.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
}

#sinopse {
    width: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 70%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #d21617;
    color: #fff;
    padding: 8px, 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50%, 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family:'Kdam Thmor Pro', sans-serif;  
}

.card:hover {
    transform: scale(1.02);
}

.banner1 {
    background-image: url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE5fOvR?ver=f0a9');
}

.banner2 {
    background-image: url('https://cdn.shoppub.io/cdn-cgi/image/w=1000,h=1000,q=80,f=auto/oficinadosbits/media/uploads/produtos/foto/ygkmrcdw/file.png');
}

.banner3 {
    background-image: url('https://dcdn.mitiendanube.com/stores/003/016/288/products/microsoft_365_apps_for_business_spp-00005_1_-457bf2b9b00edfe6c816935124869499-640-0.jpg');
}